# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# Large data files you don't want on GitHub
*.csv
*.xlsx
*.zip
